body {
    font-family: 'Arial', sans-serif;
    background-color: #FAF4EB; /* لون الخلفية البيج الفاتح */
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 10px;
    padding: 0 20px;
}

h2 {
    color: #4A7A9E; /* لون العنوان */
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.book-grid {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* شبكة لعرض الكتب */
    gap: 20px; /* مسافة بين الكاردات */
}

.book-item {
    background-color: #fff;
    border-radius: 8px;
  
    margin: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ظل خفيف للكارد */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    text-align: center;
    border: 1px solid #4A7A9E; /* حدود خفيفة */
}

    .book-item:hover {
        transform: translateY(-10px); /* تأثير الحركة عند التمرير */
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* زيادة الظل */
    }

    /* تعديل حجم الصورة وضمان التناسق */
    .book-item img {
        width: 100%; /* عرض الصورة يملأ الكارد */
        height: 300px; /* ارتفاع موحد للصورة */
        object-fit: cover; /* ضمان أن الصورة لا تتشوه */
        margin-bottom: 15px;
        border-radius: 4px;
        border-color: #FAF4EB;
    }

    .book-item h5 {
        font-size: 20px;
        color: #4A7A9E;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .book-item p {
        font-size: 14px;
        color: #666;
        margin-bottom: 8px;
    }

    .book-item .btn {
        background-color: #4A7A9E;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-top: 10px;
    }

        .book-item .btn:hover {
            background-color: #3a5c7a;
        }

.btn-group {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 5px;
}
